@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
.footer {
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}

.footer__left {
    width: 20px;
    height: 20px;
    margin-left: 94px;
    margin-top: 200px;
    display: flex;
    align-content: center;
}

.footer__left span {
    align-self: center;
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 20px;
}

.footer__left p {
    position: relative;
    top: 200px;
    right: 150px;
    font-family: "Montserrat", sans-serif;
    color: #ffe600;
    font-size: 107px;
    width: 5px;
    height: 5px;
    font-style: bolder;
}

.footer__right {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 50px;
    justify-content: space-evenly;
    margin: 0 auto;
}

.right_link {
    display: flex;
    flex-wrap: wrap;
    width: 185px;
    height: 350px;
    align-content: center;
    justify-content: center;
    font-family: "Indie Flower", cursive;
}

.footer__right a:first-of-type {
    font-size: 30px;
}

.footer__right a {
    text-decoration: none;
    color: whitesmoke;
}

.span-sty {
    color: #ffe600;
    background-color: #ffe600;
}
